<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Add Item</h5>
          <app-add-item [shoppingItemsData]="shoppingItemsData"></app-add-item>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Shopping cart</h5>
          <app-shopping-cart></app-shopping-cart>
        </div>
      </div>
    </div>
  </div>

</div>